---
import BlogList from "../components/BlogList.astro";
import BlogLayout from "../layouts/BlogLayout.astro";
---

<BlogLayout title="Juanfri's Portfolio and Blog - Full Stack Developer">
  <BlogList>
    <p class="text-emerald-500/80 mb-4">
      I'm a Full Stack Developer, I ❤️ to build digital products and I'm always
      👀 for new challenges.
    </p>
  </BlogList>
</BlogLayout>
