---
import ExperienceSection from "../components/ExperienceSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Juanfri's Portfolio and Blog - Full Stack Developer">
  <main class="col-span-2 pl-96 pt-40 overflow-auto text-slate-400">
    <div class="bg-slate-50"></div>
    <section id="about" class="text-lg w-full px-4 mt-6 mb-20">
      <p class="sm:text-sm md:text-lg mb-5">
        I'm a <span class="text-emerald-200">Full Stack Developer</span>. I
        enjoy tackling challenges that require a combination of{" "}
        <span class="text-emerald-200">backend and frontend</span> skills, aiming
        to deliver robust and performant solutions.
      </p>
      <p class="sm:text-sm md:text-lg mb-6">
        Outside of work, I’m often exploring new tech trends, contributing to{
          " "
        }
        <span class="text-emerald-200">open-source projects</span>, and staying
        active through hiking and reading.
      </p>
    </section>
    <ExperienceSection />
    <ProjectsSection />
  </main>
</Layout>
