---
import Link from "./Link.astro";
---

<nav class="hidden sm:block" aria-label="In-page jump links">
  <ul class="flex flex-col gap-4">
    <li>
      <Link href="about"> About </Link>
    </li>
    <li>
      <Link href="experience"> Experience </Link>
    </li>
    <li>
      <Link href="projects"> Projects </Link>
    </li>
    <li>
      <Link href="/blog" samePage={false}> Blog </Link>
    </li>
  </ul>
</nav>
